<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definitions go here -->

    <bean id="userIO" class="com.sg.vendingmachine.ui.UserIOConsoleImpl"/>

    <bean id="view" class="com.sg.vendingmachine.ui.VendingMachineView">
        <constructor-arg ref="userIO"/>
    </bean>

    <bean id="vendingMachineDao"
          class="com.sg.vendingmachine.dao.VendingMachineDaoFileImpl"/>

    <bean id="auditDao"
          class="com.sg.vendingmachine.dao.VendingMachineAuditDaoFileImpl"/>

    <bean id="serviceLayer"
          class="com.sg.vendingmachine.service.VendingMachineServiceLayerImpl">
        <constructor-arg ref="vendingMachineDao"/>
        <constructor-arg ref="auditDao"/>
    </bean>

    <bean id="controller"
          class="com.sg.vendingmachine.controller.VendingMachineController">
        <constructor-arg ref="serviceLayer"/>
        <constructor-arg ref="view"/>
    </bean>

</beans>
 
 